<div class="produtos-grid">
    <a href="<%= data.name %>" class="produto">
        <img src="<%= data.image %>" alt="<%= data.description %>">
        <h3 id="informations" data-info='{"nome": "<%= data.name %>", "preco": "<%= data.price %>"}'>
        </h3><%= data.names[0] %></h3>
        <h4>Preço R$<%= data.price %></h4>
        <p><%= data.size %></p>
        <p><%= data.description %></p>
        <p><%= data.count[0] %></p>
        <button class="add-to-cart">Adicionar ao Carrinho</button>
    </a>
</div>
